<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }

        h1 {
            margin-top: 50px;
            color: #333;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <a href="/login">
        <button>Login</button>
    </a>
    <a href="/register" style="margin-left: 10px;">
        <button>Register</button>
    </a>
</body>
</html>
